/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*-----------------------
  Base styles
  -----------------------*/


:root {
  --dark: #2d445a;
  --medium: #9db1c4;
  --light: #e1e9f0;
  --lightest: #f4f9fc;
  --largest: 2rem;
  --larger: 1.5rem;
  --large: 1.15rem;
  --small: 0.75rem;
}

.stack > * + * {
  display:block; 
  margin-block-start: 1rem;
}

body {
  background-color: var(--lightest);
}

body * {
  color: var(--dark);
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}

body > * + * {
  padding-left: calc(1% + 6vw);
  margin-top: 5%;
}

button {
  color: var(--lightest);
  background-color: var(--dark);
  font-weight: bold;
  padding: 0.7vw 1.4vw;
  border: none;
}


/*-----------------
  Special colors and sizes
  -----------------*/

header > a {
  font-size: var(--larger);
  font-weight: bold;
}

h1,
h2 {
  font-size: var(--largest);
  font-weight: bold;
}

h3 {
  font-size: var(--large);
  font-weight: bold;
}

.stack > a {
  font-weight: bold;
}

small {
  font-size: var(--small);
}

p {
  line-height: 1.4;
}



/*-----------------
  Header
  -----------------*/

header {
  position: relative;
  width: 100%;
  padding: 1% 3%;
}

label {
  position: absolute;
  left: 5%;
  bottom: 40%;
  font-size: 2rem;
  color: var(--medium);
  display: none;
}

header input {
  display:none;
}

header > button {
  float: right;
}

header > a {
  float: left;
}

nav {
  width: 50%;
  float: left;
  margin-left: 15%;
}

nav ul {
  text-align: center;
  font-size: 0;
  margin-top: 1%;
  max-width: 600px;
}

nav li {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-size: 1rem;
}

nav button {
  margin-top: 0.6%;
  margin-left: 8%;
}



/*-----------------
  Main
  -----------------*/

  main {
    background: url("./images/source.png") no-repeat;
    background-position: right 0;
    background-size: calc(300px + 20vw);
    height: calc(250px + 20vw);
  }

  main > section {
    margin-top: 8%;
    padding-top: 5%;
    width: 33%;
    max-width: 360px;
  }

  input {
    border: none;
    background-color: var(--light);
    font-size: var(--small);
    height: 26px;
    width: 70%;
    padding: 0 0 0 10px;
    margin-right: -5px;
  }

  /*-----------------
  List section
  -----------------*/

  section:nth-child(2) {
    max-width: 1200px;
  }

.proto {
  float: left;
  width: 25%;
  list-style: none;
}

.proto:not(last-child) {
  padding-right: 2%
}

i {
  transform: scale(1.8);
  padding-left: 0.5ch;
  margin-bottom: 5%;
}

  /*-----------------
  End section
  -----------------*/

  body > section:last-child {
    clear:both;
    background-color: white;
    padding-top: 5%;
  }

  body > section:last-child > * {
    width: 50%;
    max-width: 530px;
  }


/*-----------------
  Media Queries
  -----------------*/

@media screen and (max-width: 780px) {
  
  nav > ul,
  header > button,
  .fa-solid,
  .fa-regular {
    display: none !important;
  }

  header > a {
    float: none;
    width: auto;
    display: inline-block;
    text-align: center;
    margin-left: 35%;
  }

  header > label {
    display: contents;
  }

  header {
    border-bottom: 1px solid var(--medium);
  }

  section > ul {
    margin-top: 5%;
  }

  body > * + * {
    padding-left: 0;
  }

  .proto {
    float: none;
    width: 100%;
    padding: 3%;
  }

  .proto > * {
    padding-left: 4%;
  }

  .proto:nth-child(odd) {
    background-color: var(--light);
  }

  .stack {
    padding-left: 0;
    }

  body > section:last-child {
    width: 100%;
    margin: auto;
    padding-left: 4%;
  }

  body > section:last-child > * {
    width: 100%;
  }

  body > section:last-child > p {
    margin-top: 2%;
  }

}
