/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul > li {
	list-style-image: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*-----------------------
  Base styles
  -----------------------*/


:root {
  --dark: #2d445a;
  --medium: #9db1c4;
  --light: #f4f9fc;
}

.stack > * + * {
  display:block; 
  margin-block-start: 1rem;
}

body * {
  color: var(--dark);
  background-color: var(--light);
  line-height: 1.2;
}

button {
  color: var(--light);
  background-color: var(--dark);
  font-weight: bold;
  padding: 5px 10px;
  border: none;
}

/*-----------------
  Header
  -----------------*/

header {
  width: 100%;
  padding: 10px 20px;
}

header * {
  outline: 1px solid red;
}

nav {
  
}

nav > a {
  float: left;
}

nav ul {
  width: 40%;
  margin: auto;
  font-size: 0;
}

nav li {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-size: 1rem;
}

nav button {
  float: right;
}


/*-----------------
  Main
  -----------------*/


  /*-----------------
  List section
  -----------------*/

  /*-----------------
  End section
  -----------------*/